:root{
    --co-white:#fff;
    --h2-text-color: #333;
    --special-offers-h3-color: #fff;
    --co-services-link:#CC9933;
    --co-placement-card-content-before: #999;
    --co-placement-card-content-after: #000;

    --co-tour-bcg: #E9E9E9;
}